html,body
{
    font-family:sans-serif;
    margin:0;
    padding:0;
    background-color: #fafafa;
    width: 100vw;
    height: 100vh;
}

/* BASE GUI */

#teslasql-panel-container {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  
  /* avoid browser level touch actions */
  xtouch-action: none;
  max-height: 95%;
  min-height: 30%;
  height: 83%;
}

#teslasql-sidebar {
  flex: 0 0 auto;
  width: 30%;
  min-height: 200px;
  min-width: 200px;
  max-width: 60%;
  box-sizing: border-box;
}

#teslasql-resize-v {
  flex: 0 0 auto;
  background: #dadada;
  min-height: 200px;
  width: 1px;
  border-right:1px solid #cfcfcf;
  border-left:1px solid #cfcfcf;
  cursor: col-resize;  
}

#teslasql-main {
  flex: 1 1 auto;
  /* resizable */
  width: 100%;
  min-height: 200px;
  min-width: 200px;
  box-sizing: border-box;
}

#teslasql-resize-h {
  flex: 0 0 auto;
  height: 1px;
  border-bottom:1px solid #cfcfcf;
  border-top:1px solid #cfcfcf;
  background: #dadada;
  cursor: row-resize;
}