html,
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fafafa;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}


/* UI Panels requirements */

.splitter-h {
    height: 4px;
    background-color: #F0F0F0;
    cursor: row-resize;
}

.splitter-v {
    width: 4px;
    background-color: #F0F0F0;
    cursor: col-resize;
}


/* UI Elements */

#wrapper {
    display: flex;
    height: 100vh;
    flex-direction: column;
    overflow: hidden;
}

#toolbar {
    height: 30px;
    box-sizing: border-box;
    background-color: #fff;
    overflow: hidden;
}

#split-view-log {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
}

#split-sidebar-content {
    height: 80%;
    min-height: 300px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

#sidebar {
    width: 20%;
    min-width: 250px;
    background-color: #fff;
    overflow: auto;
    border: 1px solid #ABADB3;
}

#split-tabs-results {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
    min-width: 350px;
}

#tabs {
    height: 40%;
    min-height: 200px;
    background-color: #fff;
    overflow: hidden;
    border: 1px solid #ABADB3;
}

#query {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    resize: none;
    outline: none;
    font-family: monospace;
    padding: 2px;
    border: 0;
}

#results {
    flex: 1;
    min-height: 50px;
    background-color: #fff;
    overflow: hidden;
    border: 1px solid #ABADB3;
}

#log {
    flex: 1;
    min-height: 50px;
    background-color: #fff;
    overflow: auto;
    border: 1px solid #ABADB3;
}

#statusbar {
    height: 25px;
    box-sizing: border-box;
    background-color: #F0F0F0;
    overflow: hidden;
}