.handsontable tr:first-child th,
.handsontable tr:first-child td {
    border-top: 0;
}

.handsontable th:first-child,
.handsontable th:nth-child(2),
.handsontable td:first-of-type,
.handsontable .htNoFrame+th,
.handsontable .htNoFrame+td {
    border-left: 0;
}

.handsontable th {
    background-color: #fff;
    font-size: 0.9rem;
    border-bottom: 1px solid #F0F0F0 !important;
}

.handsontable .htCore>tbody>tr:nth-child(odd)>td {
    background-color: #F8F8F8;
}

.handsontable .htDimmed {
    color: inherit;
}